// Define common colours to be used in a few places.
$FLAMEGPU2-orange: #FF7F2A;
$FLAMEGPU2-red: #660000;
$FLAMEGPU2-green: #006E5E;
$FLAMEGPU2-blue: #0066AA;
$FLAMEGPU2-light-gray: #DFE0DF;
$FLAMEGPU2-dark-gray: #4D4D4D;
$FLAMEGPU2-python-yellow:#ffd43b;
$FLAMEGPU2-python-blue:#306998;