---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
// Load the flamegpu colours
@import "flamegpu-colours";

// Load the minimal mistakes skin and themes
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



// Custom css overriding what came before
#page-hero {
    background-color: $FLAMEGPU2-dark-gray;
}
#particles { 
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%
}

// Fix text wrapping of location at some resolutions, its a bit hacky.
.author__urls li {
    white-space: inherit;
}
.author__urls.is--visible li {
    white-space: nowrap;
}

// Stop footer links being uppercase
.page__footer-follow li {
    text-transform: none;
}

// Make the logo in the header larger (50%) while still relative to text size.
.site-logo img {
    max-height: 3rem;
}

// Some padding utility classes
.padding-left {
    padding-left: 1rem;
}
.padding-right {
    padding-right: 1rem;
}
// No shadow on image anchors
.page__content a.no-shadow:not(.btn):hover img {
    box-shadow: none;
}

// Flexbox based custom version of what was the feature wrapper.
// uses the breakpoint mixings vendored in by minimal mistakes, which can be use in conjunctions with teh sizes in _variables.scss
// $small, $medium, $medium-wide, $large, $x-large, $max-width

.flex_feature_container {
    // Below the small breakpoint do not flex.
    display: block;
    width: 100%;

    @include breakpoint($small) {
        // From small, flex into columns.
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .flex_feature_item {
        @include breakpoint($small) {
            // From small screen sizes, flex as 3 columns
            flex: 0 0 33.3333%;
        }
        padding: 1em;
        // Each item is flex internally. This allows certain elements to grow for vertical alignment. Not perfect but it works.
        display: flex;
        flex-direction: column;
        
        // Limit the image size on mobile so they aren't too tall.
        // Not perfect, because maintaining aspect ratio is difficult... 
        .flex_feature_item_teaser {
            margin: auto;
            max-width: 100%;
            img {
                display: block;
                max-height: $small * 0.5;
                @include breakpoint($small) {
                    max-height: $medium-wide * 0.4;
                    @include breakpoint($medium-wide) {
                        max-height: 100%;
                    }
                }
            }
        }
        // Let the text portion grow, so the footers are lined up.
        .flex_feature_item_body {
            flex-grow: 1;
        }
        /* .flex_feature_item_footer { 

        } */
    }
}

// Overwride to be 2 cols at small, and 3 at wide.
.flex_feature_container.small-2-col {
    .flex_feature_item {
        @include breakpoint($small) {
            flex: 0 0 50%;
        }
    }   
}
.flex_feature_container.medium-3-col {
    .flex_feature_item {
        @include breakpoint($medium) {
            flex: 0 0 33.3333%;
        }
    }   
}

.flex_feature_container.xlarge-4-col {
    .flex_feature_item {
        @include breakpoint($x-large) {
            flex: 0 0 25%;
        }
    }   
}